* {
  margin: 0;
}

body {
  background-color: aliceblue;
  font-family: 'IBM Plex Sans', sans-serif;
}

header {
  margin: 25px 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

li:nth-child(even) {
  background-color: #f2f2f2;
}

.container {
  max-width: 800px;
  margin-inline: auto;
  background-color: #fff;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 11px 75px -3px rgba(0, 0, 0, 0.10);
  -webkit-box-shadow: 0 11px 75px -3px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0 11px 75px -3px rgba(0, 0, 0, 0.10);
}

.board {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.board-head {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
}

.board-head > h2 {
  color: #3D2900;
}

header > h1 {
  color: #3D2900;
}

#refreshBtn {
  padding: 5px 30px;
  border-radius: 10px;
  border: 1px solid rgb(255, 192, 74);
  color: rgb(255, 166, 0);
  background-color: antiquewhite;
}

.board-container {
  flex: 2;
}

.board-table {
  overflow: scroll;
  max-height: 500px;
}

.board-table::-webkit-scrollbar {
  display: none;
}

.leadList {
  margin-top: 25px;
}

.leadList > li {
  display: flex;
  padding: 15px 15px;
  background-color: rgb(255, 244, 228);
  border-radius: 15px;
  align-items: center;
  margin: 15px 0;
}

.img-name {
  display: flex;
  flex: 2;
  margin-left: 15px;
  align-items: center;
}

.avatar {
  width: 40px;
  border-radius: 15px;
  margin-right: 15px;
}

.big {
  font-weight: 800;
}

.add-score {
  width: 300px;
}

.add-score > h2 {
  margin: 12px 0 35px 0;
  color: #3D2900;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
}

form button {
  padding: 15px 30px;
  border-radius: 15px;
  border: 1px solid rgb(255, 192, 74);
  color: rgb(255, 166, 0);
  background-color: antiquewhite;
}

form > div {
  margin-bottom: 15px;
}

input {
  width: 90%;
  padding: 17px 10px;
  border-radius: 15px;
  border: 1px solid rgb(255, 192, 74);
}

input:focus {
  outline: none;
  border: 1px solid rgb(255, 166, 0);
}

::placeholder {
  font-style: italic;
}
